/*--- CONFIGURAÇÃO [PHONES] ---*/
@media (max-width: 600px){
    /*--- CONFIGURAÇÃO [BODY] ---*/
    iframe.yt-frame{
        width: 350px;
        height: 250px;
    }
    /*--- CONFIGURAÇÃO [BODY] ---*/

    /*--- CONFIGURAÇÃO [ESPECIFICAÇÕES] ---*/
    td.specs-2 > span.specs-2-title{
        font-size: 0.7em;
    }

    td.specs-2 > span.specs-2-desc{
        font-size: 0.51em;
    }

    tr > td.table-content.specs-2{
        font-size: 0.68em;
    }
    /*--- CONFIGURAÇÃO [ESPECIFICAÇÕES] ---*/

    /*--- CONFIGURAÇÃO [FOTOS] ---*/
    div.layer-image{
        margin-top: 200px;
    }

    div.layer-glass-images{
        width: 100px;
        height: 100px;
    }

    span.layer-text{
        line-height: 10px;
        padding: 5px;
        font-size: 0.42em;
        color: #f0f8ff;
        background-color: #1111117e;
    }
    /*--- CONFIGURAÇÃO [FOTOS] ---*/

    /*--- CONFIGURAÇÃO [MULTIMIDIA] ---*/
    div.video-multi > iframe{
        width: 100%;
        height: 75vh;
    }
    /*--- CONFIGURAÇÃO [MULTIMIDIA] ---*/
    
    /*--- CONFIGURAÇÃO [FOOTER] ---*/
    footer.cabecalho{
        height: 30vh;
    }

    /*--- [left-content] ---*/
    div.left-content > p{
        font-size: 0.8em;
    }

    article.links-hover > a:nth-child(1){
        margin-left: 0;
    }

    article.links-hover > a > i.bi{
        font-size: 1.2em;
    }
    /*--- [left-content] ---*/

    /*--- [right-content] ---*/
    div.right-content > p{
        font-size: 0.5em;
    }
    /*--- [right-content] ---*/
    /*--- CONFIGURAÇÃO [FOOTER] ---*/
}