@media (max-width: 920px){
    /*--- CONFIGURAÇÃO [BODY] ---*/
    .container-statistics{
        width: 75%;
    }

    img.picture-content{
        display: none;
    }

    .container-block{
        width: 100%;
        display: grid;
    }

    .container-block article{
        width: 100%;
    }
    
    .container-block aside{
        width: 100%;
    }
    /*--- CONFIGURAÇÃO [BODY] ---*/
}