/*--- FONTES PERSONALIZADAS ---*/
@font-face {
    font-family: 'Title';
    src: url('../_fonts/nasalization-rg.otf') format('opentype');
}

@font-face {
    font-family: 'Subtitle';
    src: url('../_fonts/Teko-Bold.ttf') format('truetype');
}
/*--- FONTES PERSONALIZADAS ---*/

/*--- ALL ---*/
*{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 20pt;
    font-family: 'Title';
}

h2{
    padding: 10px;
    font-size: 20pt;
    font-family: 'Subtitle';
}
/*--- ALL ---*/

/*--- CONFIGURAÇÃO [NAVBAR] ---*/
nav{
    top: 0;
}

.navbar-brand{
    font-family: 'Title';
}

.content-icon{
    margin-right: 5px;
}

a.nav-link:hover{
    font-weight: bold;
}
/*--- CONFIGURAÇÃO [NAVBAR] ---*/

/*--- CONFIGURAÇÃO [BODY] ---*/
body.light-mode{
    transition: 0.2s ease-in-out;
    color: #111111;
}

main{
    margin-top: 55px;
    background-color: #d1d7dd;
}

section.main{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

section.main.parallax-main{
    background-image: url("../images/google.gif");
}

.main-content{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -o-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -moz-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -webkit-linear-gradient(to bottom, #00000000, #00000065, #000000);
}

.container-statistics{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 20px 0;
    backdrop-filter: blur(20px);
    background-color: #11111179;
}

.container-statistics p{
    padding: 10px;
    font-weight: bold;
}

span.select::before{
    content: "";
    animation: let-icon 3s infinite;
}

@keyframes let-icon{
    0%{
        content: "💻";
    }

    100%{
        content: "🖱️";
    }
}

img.picture-content{
    width: 350px;
    height: 350px;
}

.container-block{
    width: 100%;
    display: flex;
}

.container-block article{
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.container-block aside{
    width: 50%;
    text-align: center;
}

h2.title-content{
    font-size: 40pt;
    text-shadow: 3px 3px 5px #00000079;
}

p.conte-content{
    padding: 10px;
    font-weight: bold;
}

/*width="853" height="480"*/
iframe.yt-frame{
    width: 500px;
    height: 500px;
}

section.section-cards{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-title{
    width: 90%;
    border-bottom: 4px solid #f0f8ff;
}

.card-title:nth-child(1){
    width: 100%;
}

.card-text{
    margin-top: 20px;
    text-align: initial;
}

.card-text.specs{
    text-align: center;
}

.card-text > button{
    margin-top: 37px;
    border: none;
    background-color: var(--bs-info);
}

h1.fs-5{
    color: #000000;
}

div.modal-body{
    color: #111111;
}

table.table-modal{
    width: 100%;
    height: 25em;
}

td.table-title{
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--bs-dark);
    color: var(--bs-light);
    background-color: #212529;
}

td.table-content{
    text-align: center;
    border: 2px solid var(--bs-dark);
}
/*--- CONFIGURAÇÃO [BODY] ---*/

/*--- CONFIGURAÇÃO [SECTION CONTENT-2] ---*/
section.main-content-2{
    width: 100%;
    height: 100vh;
    padding: 70px 50px;
    margin-top: 150px;
}
/*--- CONFIGURAÇÃO [SECTION CONTENT-2] ---*/

/*--- CONFIGURAÇÃO [FOOTER] ---*/
footer.cabecalho{
    width: 100%;
    height: 40vh;
    display: flex;
    color: #f0f8ff;
    background-color: #111111;
}

/*--- [left-content] ---*/
div.left-content{
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

div.left-content > p{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #42424279;
}

article.links-hover > a{
    margin-left: 12px;
    text-decoration: none;
}

article.links-hover > a > i.bi{
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
    color: #f0f8ff;
    font-family: 'Title';
}

article.links-hover > a > i.bi:hover{
    transition: 0.3s ease-in-out;
    color: #084bb1;
}
/*--- [left-content] ---*/

/*--- [right-content] ---*/
div.right-content{
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.right-content > p{
    font-size: 0.8em;
}
/*--- [right-content] ---*/
/*--- CONFIGURAÇÃO [FOOTER] ---*/