/*--- FONTES PERSONALIZADAS ---*/
@font-face {
    font-family: 'Title';
    src: url('../_fonts/nasalization-rg.otf') format('opentype');
}

@font-face {
    font-family: 'Subtitle';
    src: url('../_fonts/Teko-Bold.ttf') format('truetype');
}
/*--- FONTES PERSONALIZADAS ---*/

/*--- VARIÁVEIS ---*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
/*--- VARIÁVEIS ---*/

/*--- TODO O SITE ---*/
*{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 20pt;
    font-family: 'Title';
}

h2{
    padding: 10px;
    font-size: 20pt;
    font-family: 'Subtitle';
}
/*--- TODO O SITE ---*/

/*--- CONFIGURAÇÃO [NAVBAR] ---*/
nav{
    top: 0;
}

.navbar-brand{
    font-family: 'Title';
}

.content-icon{
    margin-right: 5px;
}

a.nav-link:hover{
    font-weight: bold;
}
/*--- CONFIGURAÇÃO [NAVBAR] ---*/

/*--- CONFIGURAÇÃO [BODY] ---*/
body.light-mode{
    transition: 0.2s ease-in-out;
    color: #111111;
    background-color: #f0f8ff;
}

main{
    margin-top: 55px;
}

section.main{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

section.main.parallax-main{
    background-image: url("../images/google.gif");
}

.main-content{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -o-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -moz-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -webkit-linear-gradient(to bottom, #00000000, #00000065, #000000);
}

.container-statistics{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 20px 0 0;
    backdrop-filter: blur(20px);
    background-color: #11111179;
}

.container-statistics p{
    padding: 10px;
    font-weight: bold;
}

span.select::before{
    content: "";
    animation: let-icon 3s infinite;
}

@keyframes let-icon{
    0%{
        content: "💻";
    }

    100%{
        content: "🖱️";
    }
}

img.picture-content{
    width: 50%;
    height: 50vh;
}

.container-block{
    width: 100%;
    display: grid;
}

h2.title-content{
    font-size: 40pt;
    text-shadow: 3px 3px 5px #00000079;
}

p.conte-content{
    padding: 10px;
    font-weight: bold;
}

section.section-cards{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-title{
    width: 90%;
    border-bottom: 4px solid #f0f8ff;
}

.card-text{
    margin-top: 20px;
}

h1.fs-5{
    color: #000000;
}

div.modal-body{
    color: #111111;
}
/*--- CONFIGURAÇÃO [BODY] ---*/

/*--- CONFIGURAÇÃO [FOOTER] ---*/
footer.cabecalho{
    width: 100%;
    font-size: 20pt;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

footer.cabecalho > p{
    text-shadow: 1px 1px 1px #42424279;
}

footer.cabecalho > a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #0d6efd;
    font-family: 'Title';
}

footer.cabecalho > a:hover{
    font-size: 22pt;
    transition: 0.3s ease-in-out;
    color: #084bb1;
}
/*--- CONFIGURAÇÃO [FOOTER] ---*/
